html, body{
    font-family: 'Roboto', sans-serif;
    height: 100%;
    margin:0;
    padding: 0;
}

/*Landing*/
.landing-image {
    background-image: url("/assets/img/background.jpg");
    height: calc(100vh - 62px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* filter: brightness(75%); */
    filter: blur(.1rem) brightness(75%);
  }

.landing-text{
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;
    color: #FFF;
}

  .landing-head{
    top: 30%;
  }
  
  .landing-desc {
    top: 50%;
  }

/*Misc*/  
.place-unit .tooltiptext {
    visibility: hidden;
    width: 10vw;
    background-color: #5b0909;
    color: #ffffff;
    text-align: center;
    padding: .5rem 1rem;
    bottom: 2.5rem;
    left: 5rem;
    border-radius: 1.5rem 1.5rem 1.5rem .3rem;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.place-unit:hover .tooltiptext {
    visibility: visible;
}

.tooltiptext:hover{
    visibility: none;
}

.brand-color{
    color: #ffd369;
}

.loader-center{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
}


/*Hall*/
.hall-container{
    margin-top: 3rem;
    perspective: 1500px;
}

.hall-header{
    text-align: center;
    margin-bottom: 2rem;
}

.hall-info{
    display: flex;
    flex-direction: row;
    font-size: .7rem;
    color: #999999;
    width: 50vw;
    margin: 0 auto 3rem auto;
}

.hall-info-unit{
    flex:1;
    text-align:center;
}

.hall-main{
    width: 50vw;
    height: 60vh;
    margin: 0 auto;
    user-select: none;
    padding: 0 1rem;
    transform: rotateX(25deg);
}

.hall-screen{
    border-top: .2rem solid #999999;
    border-radius: 15%;
    color: #999999;
    text-align: center;
    height: 10vh;
    font-size: 2rem;
}

.hall-places{
    height: 50vh;
    padding: 2rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
}

/*Row*/
.row-main{
    flex: 1;
    display: flex;
    flex-direction: row;
    padding: 3% 0;
}

.row-number{
    flex:1;
    font-weight: bold;
    color: #bbbbbb;
    text-align: center;
    font-size: .75rem;
}

.row-places{
    flex:8;
    display: flex;
    flex-direction: row;
}

/*Places*/
.place-chair{
    border-radius: 50%;
    height: 1.5rem;
    width: 1.5rem;
    padding: .5rem 1rem;
    margin: 0 .5rem;
}

.place-sofa{
    border-radius: 5px;
    padding: .5rem 1.5rem;
    margin: 0 .5rem;
}

.place-body{
    flex: 1;
    text-align: center;
    position: relative;
}

.place-empty{
    cursor: pointer;
    background-color: #ffd369;
    color: #000000;
}

.place-reserved{
    cursor: pointer;
    background-color: #e26241;
    color: #ffffff;
}

.place-sold{
    background-color: #940a37;
    color: #ffffff;
}
.place-empty:active, .place-reserved:active{
    transition: all .1s ease-out;
    padding: .1rem .3rem;
}

.place-empty:hover{
    transition: all 0.5s ease-out;
    background-color: #f8bf3b;
}

.place-reserved:hover{
    transition: all 0.5s ease-out;
    background-color: #ee461c;
}

/*Order Info*/
.order-block{
    width: 50vw;
    height: 10vh;
    margin: 1.5rem auto 0 auto;
    display: flex;
    flex-direction: row;
}

.order-unit{
    flex: 1;
    padding: 1rem 2rem;
    text-align: center;
}

.order-unit-title{
    font-weight: bold;
}

.order-info-num{
    font-weight: bold;
    font-size: 1.2rem;
}

.order-places{
    color: #940a37;
}

.order-price{
    color: #e26241;
}

.order-btn-buy{
    font-weight: bold;
    padding: .5rem 1rem;
    background: #ffd369;
    color: #333333;
    border: none;
    border-radius: .5rem;
}

.btn-disabled{
    padding: .5rem 1rem;
    background: #940a37;
    color: #ffffff;
    border: none;
    border-radius: .5rem;
    cursor: not-allowed!important;
    filter: grayscale(50%);
    outline:0;
}

.btn-disabled:focus { outline:0 !important; }

.order-btn-buy:hover{
    transition: all .3s ease-out;
    background: #fac13b;
    color: #000000;
}

.order-btn-buy:active{
    transition: all .3s ease-out;
    background: #e26241;
    padding: .1rem .5rem;
    color: #ffffff;
    outline:0;
}

.order-btn-buy:focus { outline:0 !important; }
/*
------------------------------------------
                Portability
------------------------------------------
*/

@media screen and (max-width: 1470px){
    .place-body .tooltiptext {
        bottom: 3.5rem;
        left: 3.5rem;
    }

    .place-sofa{
        padding: .4rem 1.2rem;
        margin: 0 .4rem;
    }
}

@media screen and (max-width: 1030px){
    .landing-desc{
        font-size: 1.2rem;
    }

    .place-body .tooltiptext {
        width: 15vw;
        font-size: .7rem;
        padding: .2rem .6rem;
        bottom: 3.3rem;
        left: 3rem;
        border-radius: .5rem .5rem .5rem .1rem;
    }

    .hall-main{
        width: 70vw;
    }

    .hall-places {
        padding: 1rem .5rem .5rem .5rem;
    }

    .place-unit{
        font-size: .8rem;
    }

    .place-chair{
        height: .8rem;
        width: .8rem;
        padding: .2rem .6rem;
        margin: 0 .2rem;
    }
    
    .place-sofa{
        padding: .2rem 1rem;
        margin: 0 .2rem;
    }
}

@media screen and (max-width: 500px){
    .order-block {
        flex-direction: column;
    }
    .tooltiptext {
        display: none;
    }
}